{% extends 'base.html' %}
{% load static %}
{% block title %}{{ user.username }}'s Friends{% endblock %}

{% block top_blue_part %}
    <a href="{% url 'profile' user.username %}"><span class="white">back</span></a>
    <h2>Friends</h2>
    <a href="{% url 'add_friends' %}"><span class="white">+ friends</span></a>
{% endblock %}

{% block content %}

    <div class="post_wrapper">
        {% for f in all_friends %}
        <div class="profile_pic"><img src="{{ f.profile_pic.url }}" alt="profile_pic0"></div>
        <div>{{ f.username }}</div>
        <div><button id="{{ f.id }}reject_friend" class="reject_button">Un-friend</button></div>
        {% endfor %}
    </div>

{% endblock %}

{% block js %}
    <script>
    $('.reject_button').click(function () {
        let id = parseInt($(this).attr('id'));
            $.ajax({
                url: "{% url 'reject_friend' %}",
                type: 'POST',
                data: {
                    id: id
                },
                success: function () {
                    $('#'+id).css('display', 'none')
                }
            })
    })
    </script>
{% endblock %}