{% extends 'base.html' %}
{% load static %}

{% block title %}Login or Sign-up{% endblock %}

{% block top_blue_part %}
    <h2>Login</h2>
{% endblock %}

{% block content %}
<div class="post_wrapper">
    <h1>Welcome to Disc Caddy</h1>
    <h2>Login below or  <a href="{% url 'register' %}">Sign Up</a></h2>
    <form id="login_form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        Username: <input type="text" name="username" value="" size="50" />
        <br/>
        Password: <input type="password" name="password" value="" size="50" />
        <br/>
        <input type="submit" value="submit" />
    </form>
</div>
{% endblock %}

{% block js %}

{% endblock %}