{% extends 'base.html' %}
{% load static %}
{% block title %}News{% endblock %}

{% block top_blue_part %}
    <h2>Notifications</h2>
{% endblock %}

{% block content %}

    <div class="post_wrapper">
    <h3>News</h3>
        <p>Welcome to Disc Caddy! You can find your local course, see information for each hole at that course, and most
        importantly, upload pictures of any new hazards on a given hole. Find your friends and teammates, check-in to
        holes with your score and pictures, comment on your friends check-ins or just give 'em a Hi-Five!
        </p>
    </div>

    <div class="post_wrapper">
    <h3>Coming Soon</h3>
        <p>Soon you will be able to keep track of all of the discs in your bag via Disc Caddy, and get Disc suggestions
            that are hole specific and relevant to your skill level!
        </p>
    </div>

{% endblock %}

{% block js %}
{% endblock %}