{% extends 'base.html' %}
{% load static %}

{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block css %}

{% endblock %}


{% block top_blue_part %}
    <a href="{% url 'friends' %}"><span id="{{ h.pk }}_friends" class="white">friends</span></a>
    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
    <a href="{% url 'settings' %}"><span id="{{ h.pk }}_settings" class="white">settings</span></a>
{% endblock %}

{% block content %}

    <div class="post_wrapper">
        <div class="wrapper_vertical">
            <div>{{ user.username }}</div>
            <div class="wrapper_horizontal">
                <div>Total Holes <br>
                    {{ user.my_check_in.all.count }}
                </div>
                <div class="profile_pic"><img src="{{ user.profile_pic.url }}" alt="profile_pic0"></div>
                <div>Unique Holes <br>
                    {{ unique }}
                </div>
            </div>
            <div>Joined <br>
                {{ user.date_joined }}</div>
            <div>PDGA Member # <br>
                {{ user.pdga_number }}</div>
        </div>
    </div>

    <div class="post_wrapper pic_wrapper">
        <div><h3>Pics ></h3></div>
        <br>
        <div class="user_pics"></div>
        <div class="user_pics"></div>
        <div class="user_pics"></div>
        <div class="user_pics"></div>
        <div class="user_pics"></div>
        <div class="user_pics"></div>
    </div>

    {% for h in user.my_check_in.all %}
        <div class="post_wrapper">
            <div class="pic_user_time">
                <div class="just_pic_user">
                    <div class="profile_pic"><img src="{{ user.profile_pic.url }}" alt="profile_pic0">
                    </div>
                    <div>
                        {{ h.user.username }}
                    </div>
                </div>

                <div>
                    {{ h.check_in_time|timesince }}
                </div>
            </div>

            <div class="course_hole_comment">
                <div>
                    {{ h.hole_number.course.name }} <br>
                    Hole {{ h.hole_number }} </div>
                <div class="just_comment">{{ h.user_comment }}</div>
            </div>

            <div class="star_score">
                <div>
                    Rating/Playability: <br>
                    <img class="stars" src="/static/pages/img/star_{{ h.hole_rating }}.svg"
                         alt="rating: {{ h.hole_rating }}">
                </div>
                <div>
                    <p>My Score: </p>
                    <span class="score_spacer">{{ h.user_score }}</span>
                </div>
            </div>

            <div class="post_button_div">
                <button id="{{ h.pk }}_comment" class="comment_button">Comment</button>
                <button id="{{ h.pk }}_hi_five" class="hi_five_button">Hi-Five!</button>
            </div>

        </div>
    {% endfor %}



{% endblock %}

{% block js %}

{% endblock %}